body {
    background-color: #F2F2F2;
}

h1 {
    color: black;
    text-align: left;
    font-family: Helvetica, Arial; 
}

p {
    color: black;
    text-align: center;
    font-family: Arial, Helvetica;
}

header {
    background-color: #E3C876;
}