/*@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('http://fonts.googleapis.com/css?family=Roboto');
*/

body {
    display: grid;  /* Defines the element as a grid container */
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'head'
        'content'
        'foot';
    background-color: rgb(205, 232, 217);
    height: 100dvh; /* 100% of the vieport heigth */
    width: 100dvw; /* 100% of the vieport width */
}

/* Head row */
header {
    background-color: rgb(19,74,77);
    grid-area: head;
    display: flex; /* Defines the element as a flexbox container */
    flex-direction: row; /* Specifies the direction that the items within the container flow. */
    justify-content: space-between;  /* Flexbox: Determines the horizontal spacing of the items. Aligns along the main axis of the current line */
}

#header-title {
    order: 1;
    align-self: center; /* set the vertical alignment for an individual item */
    margin-left: 30px;
}


nav {
    order: 2;
    align-self: center; /* set the vertical alignment for an individual item */
    margin-right: 30px
}

nav > ul li:not(:last-child) { 
    visibility: visible;
}

nav > ul li:last-child {
    visibility: hidden;
}

.active {
    font-weight: bold;
}

nav ul li{
    list-style-type: none; /* Removes the bullets */
    margin: 0; /* Removes browser default settings */
    padding-left: 10px;
    display: inline-block;
}


nav ul li a {
    text-decoration: none;
    color: rgb(205, 232, 217);
    font-family: 'Roboto', Helvetica, Arial, sans-serif; 
}

nav ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #EC4F3C;
    margin: auto;
    display: block;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%

}

a:hover {
    color: #EC4F3C; 
}


/* Homepage */

#homepage {
    grid-area: content;
    display: flex; /* Flexbox container */
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center; /* Determines the horizontal spacing of the items. */
    align-items: center; /* Determines the vertical alignment of the items */
    gap: 10px;
    margin: 20px;
}

#homepage-text {
    width: calc(30em * 0.9); /* The number you multiply with depends on what font it is, and how much a character takes up in a em square. */
    padding-right: 5px; 
    background-color: rgb(205, 232, 217);
    border-radius: 10px;
    padding: 10px;
}

#homepage-text h2 {
    animation: wiggle 2s linear;
}


/* Keyframe */
@keyframes wiggle {
    0%, 7% {
        transform: rotateZ(0);
    }
    15% {
        transform: rotateZ(-5deg);
    }
    20% {
        transform: rotateZ(5deg);
    }
    25% {
        transform: rotateZ(-5deg);
    }
    30% {
        transform: rotateZ(5deg);
    }
    35% {
        transform: rotateZ(-5deg);
    }
    40%, 100% {
        transform: rotateZ(0);
    }
}

/* Foot row */

footer{
    grid-area: foot;
    display: flex;
    padding: 0.7rem 0;
    grid-template-columns: 1fr;
    flex-direction: column;
    justify-content: center; /* Determines the horizontal spacing of the items. */
    align-items: center; 
    background-color: rgb(24, 115, 100);
}

footer a, p {
    color: black;
}

/* Other styling */

p, li, summary {
    color: black;
    text-align: left;
    font-family: 'Quicksand', Verdana, sans-serif;
}

strong {
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
    color: black;
    font-family: 'Roboto', Helvetica, Arial, sans-serif; 
}

h1 {
    font-weight: bold;
    font-size: 2rem;
    color: rgb(205, 232, 217);
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

h3 {
    font-weight: bold;
    font-size: 1.3rem;
}

h4 {
    font-weight: bold;
    font-size: 1rem;
}

h5 {
    font-weight: normal;
    font-style: italic;
    font-size: 0.5 rem;
}


/* My Resume Page */

.resume-page {
    grid-area: content;
    display: grid; /* Grid container */
    grid-template: auto 1fr;
    grid-gap: 0.3rem;
}

.resume-sidebar {
    grid-column: 1 / 2;
    background-color: rgb(19,74,77);
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
}

.resume-content {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 20px;
    margin-right: 20px;
}

#resume-details {
    justify-self: center;
    align-self: center;
    font-size: small;
    padding: 0;
    color: rgb(205, 232, 217);
}


#resume-details img{
    border-radius: 50%;
    padding-top: 10px;
}

.resume-details-key {
    width: 10px;
    padding: 0;
    font-weight: bold;
    line-height: 180%;
    color: rgb(205, 232, 217);
}

.resume-details-value {
    padding: 0;
    text-align: right;
    width: calc(2em * 7);
    line-height: 180%;
    color: rgb(205, 232, 217);
}

#resume-skills li {
    line-height: 150%;
    color: rgb(205, 232, 217);
}

#resume-skills h3 {
    color: rgb(205, 232, 217);
}


#resume-experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-flow: row wrap;
}


#equinor {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 10px;
    width: calc(30em * 0.8);
    border-right: 5px;
}

#bouvet {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 10px;
    width: calc(30em * 0.8);
    border-left: 5px;
}


details {
    width: calc(30em * 0.9);
    background-color: lightyellow;
    border-radius: 10px;
    margin-bottom: 10px;

}

td {
    text-align: left;
    font-family: 'Quicksand', Verdana, sans-serif;
    padding: 15px;
    width: calc(30em * 0.9); /* The number you multiply with depends on what font it is, and how much a character takes up in a em square. */
}

.education-when {
    width: 150px;
    font-style: italic;
    font-size: smaller;
}


summary {
    padding: 10px;
    font-weight: bold;
    width: calc(30em * 0.9);
}

/* About Page */

.about-me-page {
    grid-area: content;
    display: flex; /* Grid container */
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.about-me-intro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}

#about-me-text {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 10px;
    width: calc(30em * 0.8);
}

#about-me-hobbies {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

#about-me-hobbies p {
    background-color: lightyellow;
    padding: 10px;
    border-radius: 10px;
    width: calc(30em * 0.8);
}

#hamburger-button {
    display: none;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100dvw;
}
.bar li {
    list-style: none;
}
.bar a{
    display: block;
    list-style-type: none;
    text-decoration: none;
    color: rgb(205, 232, 217);
    font-family: 'Roboto', Helvetica, Arial, sans-serif; 
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/* Media */
@media screen and (max-width: 640px) {

    .nav-menu li {
        visibility: hidden;
    }

    #hamburger-button {
        display: block;
        z-index: 100;
    }

    .hamburger-menu {
        display: block;
    }

    .closeIcon {
        display: none;
    }

    #homepage {
        margin-top: 20px;;
    }

    #homepage-text {
        max-width: 300px;
    }

    .resume-page {
        grid-area: content;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        justify-content: center;

    }

    #resume-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        gap: 10px;
        margin-top: 10px;
    }

    #resume-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        gap: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

/* iPhone 13 */
@media screen and (max-width: 390px) {
    nav > ul li:last-child {
      visibility: visible;
    }
    nav > ul li:not(:last-child){
        display: none;
    }

    #homepage {
        margin-top: 20px;;
    }

    #homepage-text {
        max-width: 300px;
    }

    .resume-page {
        grid-area: content;
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        justify-content: center;

    }

    #resume-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        gap: 10px;
        margin-top: 10px;
    }

    #resume-skills {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
        gap: 10px;
        margin-right: 20px;
        margin-left: 20px;
    }
}