body {
    background-color: #F2F2F2;
}

h1 {
    color: black;
    text-align: left;
    font: Helvetica;
}

p {
    color: black;
    text-align: center;
    font: sans-serif;
}

nav {
    background-color: #E3C876;
}